%% -*- erlang -*-

{project_plugins, [{rebar3_hank, "1.2.2"}]}.

{erl_opts, [ debug_info
           , warnings_as_errors
           , {i, "include"}
           ]}.

{hank, [{ignore, ["**/*_parser.erl"]}]}.

{pre_hooks,
 [{compile, "make -s -C c_src"}
 ]}.

{post_hooks,
 [{clean, "make -s -C c_src clean"}
 ]}.

{deps, [ {getopt, "1.0.1"}
       , {jsone, "1.5.0"}
       , {redbug, "2.0.0"}
       , cf
       ]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{dialyzer, [ {warnings, [unknown]}
           , {plt_extra_apps, [getopt, cf]}
           ]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               %% locals_not_used,
               %% exports_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.

{escript_name, aoc_erlang}.
{escript_name, "aoc"}.
{escript_incl_apps, [getopt, cf]}.
